
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.navbar {
    background-color: blueviolet;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar p {
    color: rgb(120, 120, 120);
    font-size: 18px;
    /* line-height: 0%; */
    text-align: center;
}

.navbar h1 {
    color: rgb(230, 230, 230);
    font-size: 32px;
    /* line-height: 0%; */
    text-align: center;
}

.navbar p:hover {
    color: white;
    transition: 0.8s;
    cursor: pointer;
}

.navbar h1:hover {
    color: white;
    transition: 0.8s;
    cursor: pointer;
}

