<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>Code Judge</h1>
        <p>Scared of judgement? we are here to judge you :)<br>Solve my life problems as codes</p>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>
